@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --header-font: "Josefin Sans";
  --primary-font: "Ubuntu";
  --black: #000;
  --white: #fff;
  --primary-color: #2563ea;
  --navy-blue: #111828;
}

/* hero */

#hero {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  margin-top: 83px;
}

.hero-content h1 {
  font-size: 3em;
  color: var(--black);
  font-family: var(--header-font);
  font-weight: 700;
}

.hero-content h1 span {
  color: var(--primary-color);
  font-family: var(--header-font);
}

.hero-content p {
  font-size: 1rem;
  color: var(--black);
  font-family: var(--primary-font);
  margin: 20px 0 30px;
}

.hero-content .hero-btn a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--white);
  font-family: var(--primary-font);
  padding: 10px 35px;
  display: inline-block;
  border-radius: 6px;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.hero-content .hero-btn a:hover {
  color: var(--white);
  margin-left: 10px;
}

.hero-content img {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .hero-content h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    margin: 20px;
  }
}

/* hero */

/* domain */

#domain a {
  text-decoration: none;
}

.domain-items {
  background: #eff6ff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 120px;
  padding: 10px 30px 20px;
  margin-bottom: 20px;
}

.domain-items h3 {
  color: #f9a600;
  font-size: 2.8em;
}

.domain-items h3 span {
  color: var(--primary-color);
}

.domain-items p {
  margin-bottom: 0;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--black);
  font-family: var(--primary-font);
}

@media screen and (max-width: 768px) {
  .domain-items h3 {
    font-size: 2.4em;
  }
}

/* domain */

/* package */

#package {
  padding: 80px 0 60px;
}

.package-items {
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 6px;
}

.package-items img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.package-items h4 {
  font-family: var(--header-font);
  color: var(--black);
  font-size: 1.4em;
  margin: 20px 0 10px;
}

.package-btn {
  margin: 30px 0 10px;
}

.package-btn a {
  text-decoration: none;
  font-family: var(--primary-font);
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
  font-weight: 500;
}

.package-btn a:hover {
  color: var(--white);
}

/* package */

/* services */

#services {
  padding: 80px 0;
}

.service-header h4 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1em;
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.service-header h1 {
  font-family: var(--header-font);
  font-size: 2.5em;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.service-items {
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-items p {
  margin-bottom: 0;
}

.service-items p i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  font-size: 1.3em;
  background-color: var(--primary-color);
  color: var(--white);
  margin-bottom: 10px;
}

.service-items h4 {
  font-size: 1.5em;
  color: var(--black);
  font-family: var(--header-font);
}

@media screen and (max-width: 1400px) {
  .service-items {
    height: 250px;
  }
  .service-items h4 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1200px) {
  .service-items {
    height: 280px;
    padding: 15px;
  }
  .service-items h4 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 990px) {
  .service-header h1 {
    font-size: 2em;
  }
  .service-items {
    height: 220px;
    padding: 15px 25px;
  }
  .service-items h4 {
    font-size: 1.3em;
  }
}

/* services */

/* server security */

#server-security {
  width: 100%;
  padding: 80px 0;
}

.container-box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
}

.server-security-content h1 {
  font-size: 2.8em;
  color: var(--black);
  font-weight: 700;
  font-family: var(--header-font);
}

.server-security-content h1 span {
  color: var(--primary-color);
}

.server-security-content p {
  font-size: 1em;
  color: var(--black);
  font-family: var(--primary-font);
  margin-bottom: 0;
  margin-top: 10px;
}

.server-security-content img {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .server-security-content h1 {
    font-size: 2em;
  }

  .server-security-content img {
    margin-top: 30px;
  }
}

/* server security */

/* testimonial */

#testimonial {
  padding: 80px 0;
}

.testimonial-header h4 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1em;
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.testimonial-header h1 {
  font-family: var(--header-font);
  font-size: 2.5em;
  color: var(--black);
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.content-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;
  margin: 10px;
}
.content {
  padding: 20px;
}

.img-area p {
  margin-bottom: 0;
  text-align: center;
  color: var(--black);
  font-family: var(--primary-font);
  background-color: #eff6ff;
  margin: 15px;
  padding: 10px;
  border-radius: 6px;
}

.img-area img {
  width: 60px !important;
  height: 60px;
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.img-area h4 {
  text-align: center;
  font-size: 1.3em;
  color: var(--black);
  font-family: var(--header-font);
  margin-top: 10px;
}

.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: var(--navy-blue) !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}

/* testimonial */

/* hosting switch */

#hosting-switch {
  padding: 50px 0 80px;
}

.hosting-switch-content h1 {
  font-family: var(--header-font);
  font-size: 2.6em;
  font-weight: 700;
  color: var(--black);
}

.hosting-switch-content h1 span {
  color: var(--primary-color);
}

.hosting-switch-content p {
  font-family: var(--primary-font);
  color: var(--black);
  font-size: 1em;
  margin: 15px 0;
}

.hosting-switch-content img {
  width: 90%;
}

.hosting-switch-btn {
  margin-top: 30px;
}

.hosting-switch-btn a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1em;
  text-align: center;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 500;
}

.hosting-switch-btn a:hover {
  color: var(--white);
}

@media screen and (max-width: 990px) {
  .hosting-switch-content h1 {
    font-size: 1.8em;
    margin-top: 20px;
  }
}

/* hosting switch */
