@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --header-font: "Josefin Sans";
  --primary-font: "Ubuntu";
  --black: #000;
  --white: #fff;
  --primary-color: #2563ea;
  --navy-blue: #111828;
}

/* web hosting hero */

#web-hero {
  width: 100%;
  height: 50vh;
  background: url(../images/web-hosting-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-top: 83px;
}

.web-hero-content h1 {
  color: var(--white);
  font-size: 2.8em;
  font-weight: 700;
  font-family: var(--header-font);
}

.web-hero-content p {
  color: var(--white);
  font-size: 1em;
  font-family: var(--primary-font);
}

@media screen and (max-width: 768px) {
  .web-hero-content h1 {
    font-size: 2.2em;
  }
}

/* web hosting hero */

/* web hosting packages */

#web-package {
  padding: 80px 0;
}

.web-package-header h4 {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.web-package-header h1 {
  font-family: var(--header-font);
  font-size: 2.8em;
  color: var(--black);
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
}

.web-package-items {
  background: #ffffff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 35px 25px;
  border-radius: 30px 0 30px 30px;
  margin: 25px;
}

.web-package-advanced {
  background-color: #eff6ff;
}

.web-package-items h3 {
  font-family: var(--header-font);
  font-size: 2em;
}

.web-package-items h4 {
  font-size: 1.3em;
  font-family: var(--primary-font);
  font-weight: 400;
}

.web-package-items h4 span {
  font-size: 2em;
  font-weight: 500;
}

.web-package-items ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.web-package-items ul li {
  margin: 10px 0;
  font-family: var(--primary-font);
}

.web-package-items ul li span {
  color: var(--primary-color);
  margin-right: 5px;
}

.web-package-btn {
  margin-top: 25px;
}

.web-package-btn a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-family: var(--primary-font);
  padding: 8px 30px;
  display: block;
  border-radius: 6px;
  text-align: center;
  background-color: var(--primary-color);
}

.web-package-btn a:hover {
  color: var(--white);
}

@media screen and (max-width: 990px) {
  .web-package-header h1 {
    font-size: 2em;
  }

  .web-package-header h4 {
    font-size: 1.1em;
  }
}

/* web hosting packages */

/* packages */

#packages {
  padding: 80px 0;
}

.package-header h4 {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.package-header h1 {
  font-size: 2.8em;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--black);
  text-align: center;
  margin-bottom: 50px;
}

.package-items {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.package-items h4 {
  font-size: 1.5em;
  color: var(--black);
  font-family: var(--header-font);
}

.package-items p {
  margin-bottom: 0;
}

.package-items p i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  font-size: 1.3em;
  background-color: var(--primary-color);
  color: var(--white);
  margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .package-items {
    height: 250px;
  }
  .package-items h4 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1200px) {
  .package-items {
    height: 280px;
    padding: 15px;
  }
  .package-items h4 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 990px) {
  .package-items {
    height: 220px;
    padding: 15px 25px;
  }

  .package-header h1 {
    font-size: 2em;
  }

  .package-header h4 {
    font-size: 1.1em;
  }
}

/* packages */

/* about us */

#about {
  padding: 80px 0;
}

.about-header h1 {
  font-size: 2.8em;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
}

.about-header p {
  text-align: center;
  color: var(--black);
  font-family: var(--primary-font);
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.about-icon {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.about-icon img {
  width: 100%;
}

.about-content-text {
  width: calc(100% - 70px);
}

.about-content-text h4 {
  font-size: 1.4em;
  font-family: var(--header-font);
  color: var(--primary-color);
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .about-header h1 {
    font-size: 2em;
  }

  .about-content {
    display: block;
  }

  .about-icon {
    margin: auto;
  }

  .about-content-text {
    text-align: center;
    width: 100%;
  }

  .about-content-text h4 {
    margin: 20px 0 10px;
  }
}

/* about us */

/* faq */

#faq {
  padding: 40px 0 80px;
}

.faq-content img {
  width: 85%;
}

.faq-content h1 {
  font-family: var(--header-font);
  font-size: 2.5em;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 30px;
}

.accordion-button {
  font-family: var(--primary-font);
  font-size: 1.1em;
  color: var(--black);
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  outline: none !important;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.accordion-button:active {
  border: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  border: none !important;
}

@media screen and (max-width: 990px) {
  .faq-content h1 {
    font-size: 1.8em;
    margin-top: 30px;
  }
}

/* faq */
